[Unit]
Description=main process for Kyii Airy

[Service]
ExecStart=/opt/kankin-airy-home/start.sh
User=kankin-airy
WorkingDirectory=/opt/kankin-airy-home

[Install]
WantedBy=network.target
