:root {
	/* colour scheme from https://ethanschoonover.com/solarized/#the-values */
	--c-bg: #fdf6e3;
	--c-fg: #586e75;
	--c-msg: #93a1a1;
	--c-suc: #859900;
	--c-ctn: #b58900;
	--c-warn: #cb4b16;
	--c-err: #dc322f;
	--c-1a: #268bd2;
	--c-1b: #6c71c4;
	--c-accent: #002b36;
}

body {
	background-color: var(--c-bg);
	color: var(--c-fg);
	font-family: 'Zen Kaku Gothic New', sans-serif;
	font-weight: 400;
}

h1 {
	font-weight: 500;
}

a {
	color: var(--c-1a);
}

a:visited {
	color: var(--c-1b);
}

.Bmessage { --c-accent: var(--c-msg) !important; }
.Bsuccess { --c-accent: var(--c-suc) !important; }
.Bcaution { --c-accent: var(--c-ctn) !important; }
.Bwarning { --c-accent: var(--c-warn) !important; }
.Berror { --c-accent: var(--c-err) !important; }

.Amessage { color: var(--c-msg); }
.Asuccess { color: var(--c-suc); }
.Acaution { color: var(--c-ctn); }
.Awarning { color: var(--c-warn); }
.Aerror { color: var(--c-err); }

nav {
	display: flex;
}

nav * {
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.spacer {
	margin-left: auto;
}

.flex {
	display: flex;
}

.Fcol {
	flex-direction: column;
}

.qr {
	padding: 1rem;
	background-color: #fff;
}

.box {
	border: 0.1rem solid #777;
	border-radius: 0.5rem;
	margin: 0.3rem;
	padding: 0.3rem;
}

ol.nodeco, ul.nodeco {
	list-style: none;
	padding-left: 0;
}

input,
button {
	background-color: inherit;
	color: inherit;
	border: 0.05rem solid var(--c-accent);
	border-radius: 0.5rem;
	margin: 0.2rem;
	padding: 0.1rem 0.3rem;
	transition: 0.2s;
}

input[type="text"] {
	box-shadow: inset 0 0 0.2rem var(--c-accent);
	padding: 0.2rem 0.4rem;
}

input[type="submit"],
input[type="button"],
button {
	box-shadow: 0 0 0.2rem var(--c-accent);
}

input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
button:hover:not(:disabled) {
	box-shadow: 0 0 0.4rem var(--c-accent);
}

input:disabled,
button:disabled {
	border-style: dashed;
}

table {
	table-layout: auto;
	width: 100%;
}

td input,
td select {
	box-sizing: border-box;
	width: 100%;
}
