:root {
	/* colour scheme from https://ethanschoonover.com/solarized/#the-values */
	--c-msg: #93a1a1;
	--c-suc: #859900;
	--c-ctn: #b58900;
	--c-warn: #cb4b16;
	--c-err: #dc322f;
	--c-1a: #268bd2;
	--c-1b: #6c71c4;

	--c-bg: #fdf6e3;
	--c-fg: #586e75;
	--c-shadow: #586e75;
	--c-accent: #416fc4;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-bg: #002b36;
		--c-fg: #93a1a1;
		--c-accent: #ff6bdf;
		--c-shadow: #93a1a1;
	}
}

/*
:root {
	--c-bg: ##e9ecef;
	--c-navbg: #3737B4;
	--c-navfg: rgba(255,255,255,.8) !important;
}
*/

body {
	background-color: var(--c-bg);
	color: var(--c-fg);
	font-family: 'Zen Kaku Gothic New', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 500;
}

a {
	color: var(--c-1a);
}

a:visited {
	color: var(--c-1b);
}

.Bmessage { --c-accent2: var(--c-msg) !important; }
.Bsuccess { --c-accent2: var(--c-suc) !important; }
.Bcaution { --c-accent2: var(--c-ctn) !important; }
.Bwarning { --c-accent2: var(--c-warn) !important; }
.Berror { --c-accent2: var(--c-err) !important; }

.Amessage { color: var(--c-msg); }
.Asuccess { color: var(--c-suc); }
.Acaution { color: var(--c-ctn); }
.Awarning { color: var(--c-warn); }
.Aerror { color: var(--c-err); }

nav {
	display: flex;
}

nav * {
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.spacer {
	margin-left: auto;
}

.flex {
	display: flex;
}

.Fcol {
	flex-direction: column;
}

.Fpad > * {
	margin: 4px;
}

.qr {
	padding: 1rem;
	background-color: #fff;
}

.box {
	border: 0.1rem solid #777;
	border-radius: 0.5rem;
	margin: 0.3rem;
	padding: 0.3rem;
}

ol.nodeco, ul.nodeco {
	list-style: none;
	padding-left: 0;
}

input,
button {
	background-color: inherit;
	border: 0.05rem solid var(--c-shadow);
	border-radius: 0.5rem;
	margin: 0.2rem;
	padding: 0.1rem 0.3rem;
	transition: 0.2s;
	color: var(--c-accent2, inherit);
}

input[type="text"],
input[type="email"],
input[type="number"] {
	box-shadow: inset 0 0 0.2rem var(--c-shadow);
	padding: 0.2rem 0.4rem;
}

input[type="submit"],
input[type="button"],
button {
	box-shadow: 0 0 0.2rem var(--c-shadow);
}

input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
button:hover:not(:disabled) {
	box-shadow: 0 0 0.4rem var(--c-shadow);
}

input:disabled,
button:disabled {
	border-style: dashed;
	border-width: 0.03rem;
	box-shadow: 0 0 0.1rem var(--c-shadow);
}

table {
	table-layout: auto;
	width: 100%;
}

td > input,
td > select {
	box-sizing: border-box;
	width: 100%;
}

#nav-header {
	margin: 0;
	padding: 0.2rem;
	box-shadow: 0 0 0.2rem var(--c-accent);

	position: sticky;
	top: 0;
	background: var(--c-navbg, var(--c-bg));
	color: var(--c-navfg, inherit);
}

#nav-header a {
	color: var(--c-navfg, inherit);
}

.container {
	padding: 8px;
	max-width: 70rem;
	margin: auto;
}

.hidden {
	display: none;
}

.pfp {
	display: flex;
}

.pfp > img {
	object-fit: cover;
	border-radius: 50%;
	height: 42px;
	align-self: center;
}

.pfp > .etc {
	margin: 0;
	margin-left: 8px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.user {
	display: flex;
}

.user > img {
	object-fit: cover;
	border-radius: 50%;
	height: 18px;
	align-self: center;
	padding: 0;
}

.user > .handle {
	margin: 0;
	margin-left: 8px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

ul.bare {
	list-style-type: none;
	padding-left: inherit;
}

/* START only for remote_decide.html */

.token-container {
  display: flex;
  align-items: center;
}

.token {
  font-size: 2em;
}

/* END only for remote_decide.html */
