<!DOCTYPE html>
<html>
    <head>
        <title>Verify Email Token</title>
    </head>
    <body>
        <h1>Verify Email Token</h1>
        <p>
            Do you want to verify the email below?
            (If you do not, just close this page.)
        </p>
        <form action="{{ url_for('api_v1.email_verify') }}" method="POST">
            <label>
                Email
                <input type="email" value="{{ email.email }}" readonly>
            </label>
            <input type="hidden" name="email_id" value="{{ email.id }}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <input type="submit" value="Verify" />
        </form>
    </body>
</html>

