{% extends "silica/base.html" %}
{% import "silica/macros.html" as macros %}

{% block title %}{{ _("認証方法生成") }}{% endblock %}

{% block etc_js %}
<script src="{{ url_for('static', filename='silica/webauthn.js') }}" type="module"></script>
{% endblock %}

{% block content %}
 {{ macros.ax_af_msg(aid) }}
  <div id="js-webauthn-unsupported" style="display: none;">
    {{ macros.alert("error", _("WebAuthnがサポートされてません。")) }}
  </div>
  <div id="js-webauthn-not-allowed" style="display: none;">
    {{ macros.alert("error", _("認証が拒否されました。")) }}
  </div>
  <div id="js-webauthn-idk" style="display: none;">
    {{ macros.alert("error", _("何らかのエラーが発生しました。")) }}
  </div>
  <input
    id="js-action-button"
    type="button"
    value='{{ _("再試行") }}'
  />
  <form
    id="js-pkc-form"
    method="post"
    data-get-options="{{ get_options_json }}"
    data-action="get"
  >
    {{ form.hidden_tag() }}
    <!--
      Errors (for debugging):
      {% for error in form.errors.slug %}
        - {{ error }}
      {% endfor %}
    -->
  </form>
{% endblock %}

