{% extends "silica/base.html" %}
{% import "silica/macros.html" as macros %}

{% block title %}{{ _("アカウント選択") }}{% endblock %}

{% block content %}
<a href="{{ url_for('silica.login') }}">{{ _('新たにログインする') }}</a>
<table>
	<tr>
		<th>{{ _("ID") }}</th>
		<th>{{ _("名前") }}</th>
		<th>{{ _("ユーザー") }}</th>
		<th>{{ _("する") }}</th>
	</tr>
  {% for ul in uls %}
		<tr>
			<td>{{ ul.id }}</td>
			<td>
				<form class="flex" method="post" action="{{ url_for('silica.iori_rename') }}">
					{{ macros.form_csrf() }}
					<input type="hidden" name="ulid" value="{{ ul.id }}"/>
					<input type="text" name="name" value="{{ ul.name if ul.name else "" }}" placeholder="{{ _("未設定") }}" />
					<input style="flex-shrink: 10;" type="submit" value="{{ _('保存') }}" />
				</form>
			</td>
			<td>
				{{ macros.user(ul.user) }}
			</td>
			<td class="flex Frow Fpad">
				<form class="spacer" method="post" action="{{ url_for('silica.iori_choose') }}">
					{{ macros.form_csrf() }}
					<input type="hidden" name="ulid" value="{{ ul.id }}"/>
					<input type="submit" value="{{ _('使用') }}"{% if current == ul.id %} disabled{% endif %} />
				</form>
				<form method="post" action="{{ url_for('silica.iori_logout') }}">
					{{ macros.form_csrf() }}
					<input type="hidden" name="ulid" value="{{ ul.id }}"/>
					<input class="Bcaution" type="submit" value="{{ _('ログアウト') }}" />
				</form>
			<td>
		</tr>
  {% endfor %}
</table>
{% endblock %}
