{% extends "silica/base.html" %}
{% import "silica/macros.html" as macros %}

{% block title %}{{ _("ログ") }}{% endblock %}

{% block content %}
<form method="GET" action="?">
  {{ macros.form_field(form, 'sid2') }}
  <input type="submit" value="{{ _("検索") }}">
</form>

{{ macros.pages(query) }}
<table>
  <tr>
    <th class="hidden">ログID</th>
    <th>{{ _("時刻") }}</th>
    <th>{{ _("セッションID") }}</th>
    <th>{{ _("データ") }}</th>
  </tr>
  {% for le in query.items %}
  <tr>
    <td class="hidden">
      {{ le.id }}
    </td>
    <td>
      {{ macros.time(le.created) }}
    </td>
    <td>
      {{ macros.sid2_with_query(le.sid2) }}
    </td>
    <td>
      {% if le.renderer == "login_choose" %}
      {{ _("認証パス%(ap)sを選びます。", ap=macros.ap(le.data.apid | get_ap)) }}
      {% elif le.renderer == "login_attempt" %}
      {{ _("認証方法%(af)sを選びます。", af=macros.af(le.data.afid | get_af)) }}
      {% if le.data.cur_done %}
      {{ _("このステップは<strong>成功</strong>しました。") }}
      {% endif %}
      {% if le.data.level %}
      {{ _("レベル：%(level)s", level=le.data.level) }}
      {% endif %}
      {% elif le.renderer == "login_start" %}
      {{ _("%(remote)sからログインを開始します。", remote=le.data.extra.remote) }}
      <details>
        <summary>{{ _("ユーザーエージェント") }}</summary>
        {{ le.data.extra.headers.key[0] }}
      </details>
      {% elif le.renderer == "login_done" %}
      <strong>{{ _("ログインしました。") }}</strong>
      <a href="{{ url_for('silica.uls', ulid=le.data.ulid) }}">
        {{ _("ログイン") }}
      </a>
      {% elif le.renderer == "remote" %}
      {{ _("遠隔認証トークン%(token)sを承認しました。", token=le.data.token) }}
            {% else %}
            unknown {{ le.renderer }}
            <code>{{ le.data | tojson }}</code>
            {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
