{% extends "silica/base.html" %}
{% import "silica/macros.html" as macros %}

{% block title %}{{ _("ログ") }}{% endblock %}

{% block content %}
<form method="GET" action="?">
	{{ form.sid2.label }} {{ form.sid2 }}
	<div class="errors">
		<ul>
			{% for error in form.errors.sid2 %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
	<input type="submit" value="{{ _("検索") }}">
</form>

<table>
	<tr>
		<th>ログID</th>
		<th>セッションID</th>
		<th>時刻</th>
		<th>データ</th>
	</tr>
	{% for le in query.items %}
		<tr>
			<td>
				{{ le.id }}
			</td>
			<td>
				{{ macros.sid2_with_query(le.sid2) }}
			</td>
			<td>
				{{ macros.time(le.created) }}
			</td>
			<td>
				{% if le.renderer == "login_choose" %}
					{{ _("認証パス%(ap)sを選びます。", ap=macros.ap(le.data.apid | get_ap)) }}
				{% elif le.renderer == "login_attempt" %}
					{{ _("認証方法%(af)sを選びます。", af=macros.af(le.data.afid | get_af)) }}
					{% if le.data.cur_done %}
						{{ _("このステップで<strong>ログインしました。</strong>") }}
					{% endif %}
				{% elif le.renderer == "login_start" %}
					{{ _("%(remote)sからログインを開始します。", remote=le.data.extra.remote) }}
					<details>
						<summary>{{ _("ユーザーエージェント") }}</summary>
						{{ le.data.extra.headers.key[0] }}
					</details>
				{% elif le.renderer == "remote" %}
					{{ _("遠隔認証トークン<%(token)sを承認しました。", token=le.data.token) }}
				{% else %}
					<code>{{ le.data | tojson }}</code>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>

{{ macros.pages(query) }}
{% endblock %}
