{% extends "silica/base.html" %}

{% block title %}{{ _("遠隔認証トークン承認") }}{% endblock %}

{% block content %}
{% if form.token.data is none %}
{{ macros.alert('message', _("「次へ」を押したら確認画面にいきます。")) }}
{% else %}
{{ macros.alert('warning', _("トークンを承認するとあなたのアカウントをアクセス出来る可能性があります。")) }}
{% endif %}
{% if not (sid2 is none or form.token.data is none) %}
{{ _("承認対象の情報です。") }}
{{ _("セッションID：") }} {{ macros.sid2_with_query(sid2) }} <br />
{{ _("試行開始時刻：") }} {{ ul.attempt|format_datetime }} <br />
{{ _("IPアドレス：%(remote)s", remote=ul.extra.remote) }} <br />
<details>
  <summary>{{ _("ユーザーエージェント") }}</summary>
  {{ ul.extra.headers.key[0] }}
</details>
{% endif %}
<form method="POST" action="">
	{{ form.hidden_tag() }}
	{{ form.token.label }} {{ form.token }}
	{% if form.token.data is none %}
	<input type="submit" name="next" value="{{ _("次へ") }}">
	{% else %}
	<input type="submit" name="confirm" value="{{ _("承認") }}">
	{% endif %}
	<div class="errors">
		<ul>
			{% for error in form.errors.slug %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
</form>
{% endblock %}
