{% extends "silica/base.html" %}
{% import "silica/macros.html" as macros %}

{% block title %}{{ _("ログイン") }}{% endblock %}

{% block content %}
	<form method="GET" action="?">
		{{ macros.form_field(form, 'sid2') }}
		{{ macros.form_field(form, 'ulid') }}
		<input type="submit" value="{{ _("検索") }}">
	</form>
	{{ macros.pages(query) }}
	<table>
		<tr>
			<th>ID</th>
			<th>{{ _("名前") }}</th>
			<th>{{ _("開始時刻") }}</th>
			<th>{{ _("使用時刻") }}</th>
			<th>{{ _("終了・持続中") }}</th>
			<th>{{ _("使用パス") }}</th>
		</tr>
		{% for ul in query.items %}
			{% set me = ul.id == current_ul.id %}
			<tr>
				<td>
					{{ ul.id[:8] }}
				</td>
				<td>
					<form class="flex" method="post" action="{{ url_for('silica.iori_rename') }}">
						{{ macros.form_csrf() }}
						<input type="hidden" name="ulid" value="{{ ul.id }}"/>
						<input type="text" name="name" value="{{ ul.name if ul.name else "" }}" placeholder="{{ _("未設定") }}" />
						<input style="flex-shrink: 10;" type="submit" value="{{ _('保存') }}" />
					</form>
				</td>
				<td>
					{{ ul.start|format_datetime }}
				</td>
				<td>
					{{ ul.last|format_datetime if ul.last else _("無し") }}
				</td>
				<td>
					{% if ul.end %}
					<span>{{ _("終了") }}</span>
					{% else %}
					{% if me %}
						<span>{{ _("自分") }}</span>
					{% else %}
						<span class="Acaution">{{ _("持続中") }}</span>
					{% endif %}
					{% endif %}
				</td>
				<td>{{ macros.ap(ul.against) }}</td>
				<td>
					<form method="post" action="{{ url_for('silica.iori_logout', uls=True) }}">
						{{ macros.form_csrf() }}
						<input type="hidden" name="ulid" value="{{ ul.id }}"/>
						<input {% if me %}disabled{% endif %} type="submit" value="{{ _('終了') }}" />
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
