/local_config.py
/flask_session
/jwt.pem
/jwt.pem.pub
/airy/local_config.py
/test.db
.mypy_cache
/local-profile
/local-profile-tmp
/local
/.direnv
.local
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
