[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
authlib = "*"
flask-login = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
flask-session = "*"
flask-cors = "*"
pynacl = "*"
flask-admin = "*"
wtforms = {extras = ["email"], version = "*"}
email-validator = "*"
python-dotenv = "*"
pyotp = "*"
passlib = "*"
marshmallow = "*"
flask-httpauth = "*"
flask-wtf = "*"
flask-seasurf = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.10"
