[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
authlib = "*"
flask-login = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
flask-session = "*"
flask-cors = "*"
pynacl = "*"
flask-admin = "*"
wtforms = {extras = ["email"], version = "*"}
email-validator = "*"
python-dotenv = "*"
pyotp = "*"
passlib = "*"
marshmallow = "*"
flask-wtf = "*"
jsonschema = "*"
flask-mail = "*"
blake3 = "*"
pillow = "*"
webauthn = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
flake8-import-order = "*"
flake8-isort = "*"

[requires]
python_version = "3.10"
