[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
authlib = "*"
flask-login = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
flask-session = "*"
flask-cors = "*"
pynacl = "*"
flask-admin = "*"
wtforms = {extras = ["email"], version = "*"}
email-validator = "*"
python-dotenv = "*"
pyotp = "*"
passlib = "*"
flask-wtf = "*"
jsonschema = "*"
flask-mail = "*"
blake3 = "*"
pillow = "*"
webauthn = "*"
flask-caching = "*"
flask-limiter = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
# NOTE: remember to add type stubs (as they become available)
types-Pillow = "*"
types-Flask = "*"
types-Flask-SQLAlchemy = "*"
types-sqlalchemy_utils = "*"
types-SQLAlchemy = "*"
black = "*"

[requires]
python_version = "3.10"
