{% extends "silica/base.html" %}
{% import "silica/macros.html" as macros %}

{% block content %}
	<p>
		{{ _("%(client)sがあなたの%(name)sアカウントへのアクセスを求めています。", client=grant.client.client_metadata.client_name, name=current_user.name) }}
	</p>
	<form method="post">
		{{ _("次の権限を与えますか？") }}
		<ul>
			{% for scope in grant.request.args.scope.split() %}
				<li>
					<label>
						<input type="checkbox" name="scope_{{ scope }}" checked />
						<details style="display: inline;">
							<summary>
								{{ (scope|scope_info).name }}
							</summary>
							{{ (scope|scope_info).desc }}
						</details>
					</label>
				</li>
			{% endfor %}
		</ul>
		{{ macros.form_csrf() }}
		<input type="submit" name="action_allow" value="{{ _("許可") }}" />
		<input type="submit" name="action_deny" value="{{ _("拒否") }}" />
	</form>
{% endblock %}
